<%= form_with(model: produit, local: true) do |form| %>
  <% if produit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produit.errors.count, "error") %> prohibited this produit from being saved:</h2>

      <ul>
        <% produit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :libelle %>
    <%= form.text_field :libelle, class:'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :prixHT %>
    <%= form.text_field :prixHT, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :tauxTVA %>
    <%= form.select(:tauxTVA, options_for_select([['0%',0.0],['7%',7.0],['14,2%',14.2]],:selected => form.object.tauxTVA),{}, {class: 'form-control'}) %>

  </div>

  <div class="actions">
    <% @prod_action = current_page?(new_produit_path) ? "Créer un produit" : "Modifier le produit"%>
    <%= form.submit @prod_action,  class: 'btn btn-primary' %>
  </div>
<% end %>
