<p id="notice"><%= notice %></p>

<h1>Utilisateurs</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Password</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.id %></th>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
        <td><%= user.estAdmin == 1 ? "Administrateur" : "Utilisateur" %></td>
        <td><%= link_to 'Détails', user %></td>
        <td><%= link_to 'Modifier', edit_user_path(user) %></td>
        <td><%= link_to 'Supprimer', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Inscrire un nouvel utilisateur', new_user_path %>
