<p>
  <strong>Facture No:</strong>
  <%= @facture.id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @facture.date %>
</p>

<p>
  <strong>Montant TTC:</strong>
  <%= @facture.montantTTC %> Dhs
</p>

<p>
  <strong>Montant HT:</strong>
  <%= @facture.montantHT %> Dhs
</p>

<p>
  <strong>Montant TVA:</strong>
  <%= @facture.montantTVA %> Dhs
</p>

<p>
  <strong>Validation:</strong>
  <%= @facture.estValide == 1 ? "Validé" : "Non Validé"%>
</p>

<p>
  <strong>Regelement:</strong>
  <%= @facture.estRegle == 1 ? "Réglé" : "Non Réglé" %>
</p>


<p>
  <strong>Mode de Reglement:</strong>
  <%= @facture.modeReglement %>
</p>
