<p>
  <strong>Facture No:</strong>
  <%= @facture.id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @facture.date %>
</p>

<p>
  <strong>Montantttc:</strong>
  <%= @facture.montantTTC %>
</p>

<p>
  <strong>Montantht:</strong>
  <%= @facture.montantHT %>
</p>

<p>
  <strong>Montanttva:</strong>
  <%= @facture.montantTVA %>
</p>

<p>
  <strong>Estvalide:</strong>
  <%= @facture.estValide %>
</p>

<p>
  <strong>Estregle:</strong>
  <%= @facture.estRegle %>
</p>

<p>
  <strong>Modereglement:</strong>
  <%= @facture.modeReglement %>
</p>
