<p id="notice"><%= notice %></p>


<div class="row mb-2">
  <div class="col"><h1>Mes factures</h1></div>

  <div class="col" align="right">
    <%= link_to "Ajouter une facture", new_facture_path, class: 'btn btn-primary' %>
  </div>

</div>


<table class="table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Montantttc</th>
    <th>Montantht</th>
    <th>Montanttva</th>
    <th>Estvalide</th>
    <th>Estregle</th>
    <th>Modereglement</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @factures.each do |facture| %>
    <tr>
      <td><%= facture.date %></td>
      <td><%= facture.montantTTC %></td>
      <td><%= facture.montantHT %></td>
      <td><%= facture.montantTVA %></td>
      <td><%= facture.estValide %></td>
      <td><%= facture.estRegle %></td>
      <td><%= facture.modeReglement %></td>
      <td><%= link_to 'Détails', facture %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
