
<%= render 'details', facture: @facture %>

<div>
  <% if @facture.estValide == 1  %>
    <%= link_to 'Exporter la facture (PDF)', facture_path(@facture.id, :format => :pdf), class: "btn btn-info m-5" %>
  <% end %>
</div>

<% if @estAdmin  %>
  <% if @facture.estValide == 0  %>

    <div class="m-5">
      <%= link_to 'Valider', validation_path(@facture.id),   {method: :put,:class => "btn btn-success mr-3", :data => { confirm: 'Are you sure?' }} %>
      <%= link_to 'Supprimer', @facture,  {method: :delete, :class => "btn btn-danger", :data => { confirm: 'Are you sure?' }} %>
    </div>


  <% end %>



  <%= link_to 'Modifier la facture', edit_facture_path(@facture) %> |
<% end %>
  <%= link_to 'Revenir à mes factures', factures_path %>

