<!DOCTYPE html>
<html>
<head>
  <title>RailsTest</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="<%= root_path %>">LogiFactures</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href=" <%= root_path %>">Acceuil<span class="sr-only">(current)</span></a>
        </li>

        <% if session[:user]['username'] != nil %>
          <li class="nav-item">
            <a class="nav-link" href="<%= factures_path %>">Mes factures</a>
          </li>
        <% end %>

        <% if session[:user]['estAdmin'] != nil && session[:user]['estAdmin'] == 1 %>
          <li class="nav-item">
            <a class="nav-link" > | </a>
          </li>

<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="<%#= factures_path %>">Validations</a>-->
<!--          </li>-->

          <li class="nav-item">
            <a class="nav-link" href="<%= report_path %>">Reporting</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#" id="navbarDropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
              Administration
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%= users_path %>">Utilisateurs</a>
              <a class="dropdown-item" href="<%= produits_path %>">Produits</a>
              <!--div class="dropdown-divider"></div-->
              <a class="dropdown-item"  href="<%= clients_path %>">Clients</a>
            </div>
          </li>

          <!--divider
          <li class="nav-item">
            <a class="nav-link" > | </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= users_path %>">Utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= produits_path %>">Produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= clients_path %>">Clients</a>
          </li>
          -->
        <% end %>

        <li class="nav-item">
          <a class="nav-link" > | </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="<%= setsession_path %>">Full</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= clear_path %>"> Clear </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= put_path %>"> Put </a>
        </li>

      </ul>


      <form class="form-inline mt-2 mt-md-0">
        <ul class="navbar-nav mr-auto">


        <% if session[:user]['username'] == nil  %>
          <a class="btn my-2 my-sm-0 btn-light" type="submit" href="<%= login_path %>">Se Connecter</a>
        <% else %>
          <li class="nav-item mr-2">
            <a class="nav-link"> Bonjour, <span class="custombold"><%= session[:user]['username'] %></span> </a>
          </li>
            <!--button class="btn my-2 my-sm-0 bg-white" href="<%= logout_path %>">Se Déconnecter</button-->
           <li class="nav-item">
             <a class="btn my-2 my-sm-0 btn-light" href="<%= logout_path %>">Se Déconnecter</a>
           </li>

        <% end %>
        </ul>
      </form>

    </div>
  </nav>
</header>

<div class="container" style="padding-top: 5rem">

  <%= render 'utils/flash' %>

  <%= yield %>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
